<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">
    <title>Beta Website</title>
</head>

<body>
    <header>
        <nav>
            <section class="main-nav">
                <h1 class="main-nav__logo">NAV BAR LOGO</h1>
                Nav Bar
                <ul class="main-nav__list">
                    <li>
                        <a href="./index.html" class="main-nav__list--link active"> </a>HOME </li>
                    <li>
                        <a href="./index.html" class="main-nav__list--link"> </a>SHOP </li>
                    <li>
                        <a href="./index.html" class="main-nav__list--link "> </a>ABOUT </li>
                </ul>
            </section>
        </nav>

    </header>
    <main>
        <section class="hero-container ">
            Hero Container </section>
        <section class="main-container-one ">Main Container One </section>
        <section class="main-container-two"> Main Container Two
            <h3 class="main-container-one--bold">Card Header</h3>
            <div class=" card "><img src="../assets/cardimg1.jpg " alt="cardimg1 " class="card_img " />
                <h3 class="card__text ">Card 1</h3>
            </div>
            <div class="card "><img src="../assets/cardimg2.jpg " alt="cardimg2 " class="card_img " />
                <h3 class="card__text ">Card 2</h3>
            </div>
            <div class="card "><img src="../assets/cardimg3.jpg " alt="cardimg3 " class="card_img " />
                <h3 class="card__text ">Card 3</h3>
            </div>
        </section>
        <section class="main-container-three"> Main Container Three
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad quos sed facere laborum repellat corporis explicabo tempora repudiandae optio. Ipsa voluptas molestias cumque modi, sed ducimus est nulla minima culpa. </p>
        </section>

    </main>
    <footer>
        Model footer </footer>
    <script src="./scripts.js "></script>
</body>

</html>